@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* configurações gerais e variáveis */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    font-size: 62.5%;
    --color-bg1: #F9F4FB;
    --color-bg2-text: #312D64;
    --color-bg-cards: #fff;
    --color-title-text: #B52184;
}

body{
    font-size: 1.6rem;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    
    height: 100vh;

    display: grid;
    grid-template-rows: repeat(4, max-content);
}

main, section{
    padding: 0 3.2rem;
}

/* estilização da parte principal */

main{
    text-align: center;
    background-color: var(--color-bg1);
}

main img{
    width: 100%;
}

main h1{
   color: var(--color-title-text);
   font-size: 3.2rem; 
   font-weight: 900;
}

main p {
   color: var(--color-bg2-text); 
   font-weight: 600;
   font-size: 2rem;
}

main div{
    margin-top: 2rem;
}

main div img{
    margin-top: 3.5rem;
    margin-bottom: 9.5rem;
}

/* estilização das seções planetas */

.planets{
    background-color: var(--color-bg2-text);
}

.cards{
    background-color: var(--color-bg-cards);
    width: 35rem;
    padding: 2.65rem;
    margin: 5.2rem auto;
    border-radius: 2rem;
}

.cards img{
    margin-bottom: 3.5rem;
}

.cards h2 {
    color:  var(--color-title-text);
    font-size: 2.8rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.cards p {
    color: var(--color-bg2-text);
    font-weight: 600;
    font-size: 2rem ;
}

/* estilização do formulário */

#bg{
    background-color: var(--color-bg1);
   }

.contactme{
    background-color: var(--color-bg1);    
}

.contactme h2{
    margin-top: 8rem;
    font-size: 3.5rem;
    color: var(--color-title-text);
    font-weight: 900;
}

.contactme form{
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    margin-top: 4.5rem;
}

.contactme input{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-bg2-text);
    padding: 1.2rem 5rem;
    border: 2px solid var(--color-bg2-text);
    border-radius: 1.6rem;
}

.contactme input:nth-child(1){
    background-image: url(./assets/person.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 1.5rem;
}

.contactme input:nth-child(2){
    background-image: url(./assets/at.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 1.5rem;
}

.contactme textarea{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.6rem;
    height: 15rem;
    color: var(--color-bg2-text);
    border: 2px solid var(--color-bg2-text);
    border-radius: 1.6rem;
}

.contactme button{
   background-color: var(--color-bg2-text); 
   color: var(--color-bg-cards);
   font-family: "Mulish", sans-serif;
   font-optical-sizing: auto;
   font-size: 1.4rem;
   line-height: 2.4rem;
   font-weight: 700;
   padding: 1.6rem;
   border-radius: 1.6rem;
   width: 45%;
   margin-bottom: 6.5rem;
}

#hidden-image{
    display: none;
}

/* estilização do rodapé */
footer{
    background-color: var(--color-bg2-text);
    padding: 3.2rem 1.6rem;
    text-align: center;
    color: var(--color-bg-cards);
    font-size: 1.9rem;
    font-weight: 600;
}

/* ajuste para telas maiores */

@media (min-width: 768px){
    /* estilização principal */
    main{
        display: flex;
        flex-direction: row-reverse;
        gap: 2.8rem;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10rem;
    }

    main img:nth-child(1){
        width: 45%;  
        
    }

    main div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55%;
        text-align: left; 
        height: 70rem;
        padding-left: 5rem; 
        margin: 0;       
    }

    main div h1{
        margin-top: 31rem;
        font-size: 6rem;
    }

    main div p{
       font-size: 3.2rem; 
    }

    main div img{
        width: 40rem;
        margin-top: 18rem;
        margin-left: -15rem;       
    }

    /* estilização das seções planetas */
    .planets{
        display: flex;
        gap: 20rem;
        justify-content: center;
    }

    .cards{
        width: 37rem;
        margin: 5.2rem 0;
    }

   #bg{
    background-image: url(./assets/stars.png);
    background-repeat: no-repeat;
    background-position: right;
   }
   
   .contactme{
    width: 50%;
    margin-left: 10rem;
   }
}